body {
    background-color: #222;
    color: #FFF;
}
h1 {
    font-size: 145px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 3px 4px rgba(66, 68, 90, 1);    
}
p {
    text-align: center;
    font-size: 18px;   
    padding-bottom: 15px;
}
section {
    width: 60%;
    text-align: justify;
    margin: 10px auto;
}
