body {
    background-color: #222;
    color: #FFF;
}
h1 {
    font-size: 145px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 4px 3px 4px rgba(66, 68, 90, 1);    
}
p {
    text-align: center;
    font-size: 18px;   
    padding-bottom: 15px;
}
.headline {
    font-size: 24px;
}    
section {
    width: 60%;
    margin: 10px auto;
    text-align: justify;
}
section p {
    text-align: justify;
}
img {
	width: 150px;
	height: 150px;
	margin: 10px auto;
	border-radius: 100%;
	text-align: center;
	display: block;
}	
    
