<!DOCTYPE html>
<html lang="{{ site.lang | default: "pl" }}">

{% include head.html %}

<body>
  <div class="wrapper">

    {% include header.html %}
<div class="container">

  <div class="box-left">
    {{ content }}

<article>

      <!-- This loops through the paginated posts -->
    {% for post in paginator.posts %}
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p> {{ post.excerpt }} </p>
    <p class="author"> <span class="date">{{ post.data }}</span> </p>
    {% endfor %}


    <!-- Nawigacja paginacji -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Poprzednia</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    <a href="{{ paginator.paginate_path | replace: ':num', page | relative_url }}"
       class="{% if page == paginator.page %}active{% endif %}">
      {{ page }}
    </a>
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Następna &raquo;</a>
  {% endif %}
</div>

</article>



    {% include footer.html %}  
  </div>
  <div class="box-right">
      {% include sidebar.html %}  
  </div>    

</div>
    

  </div><!--end wrapper-->

</body>

</html>